@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
:root{
    --verde-bg:#3E5954;
    --verde-lio:#84BFB4;

}
html{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Josefin Sans', sans-serif;
    background: var(--verde-bg);
}

.contonedor-menu{
    width: 90%;
    margin: auto;
    
}

header{
    padding: 30px 0;
}

.contonedor-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
}

/* Apariencia de la pelicula principal*/

.pelicula-principal{
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    

}

